$accent: #1065ac;
$professional-badge: #1a59cf;
$personal-badge: #1dac99;
$danger: #e49c8f;
$warn: #eeca93;
$success: #97e097;

@keyframes fadeInSlideUp {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
